<div class="logo">
  <h1>Logo</h1>
</div>
<div class="menu">
  <div class="menu-main-page nav-link">
    <a href="#">Главная</a>
  </div>  <div class="menu-main-page nav-link">
    <a href="#">Главная</a>
  </div>
  <div class="menu-boards nav-link">
    <p class="link">
     <a href="#">Доски</a>
    </p>
    <div class="boards">
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
      <p>board name</p>
    </div>
  </div>
</div>
